# **Application des méthodes de prévision sur les données directionnelles :**

In [4]:
""" Importation des packages  """
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import eda
import os
os.chdir(dir)

In [14]:
""" Importation des données """

df_direction = pd.read_csv('GWMF_v_direction_Dataset.DAT')

In [15]:
"""Analyse des valeurs manquantes du data frame : """

description_base  = eda.create_unique(df)
description_base

,Column_name,Data_type,Number_of_unique,Number_of_missing,Percentage_of_missing,Unique_values
0,Unnamed: 0,int64,16197,0,0.0,More than 15 unique values
1,balloon,int64,8,0,0.0,"[1, 2, 3, 4, 5, 6, 7, 8]"
2,gwmf_v,float64,15890,0,0.0,More than 15 unique values
3,gwmf_v_abs,float64,15889,0,0.0,More than 15 unique values
4,gwmf_v_north,float64,15889,0,0.0,More than 15 unique values
5,gwmf_v_south,float64,15889,0,0.0,More than 15 unique values

In [16]:
df.head(20)

    Unnamed: 0  balloon    gwmf_v  gwmf_v_abs  gwmf_v_north  gwmf_v_south
0            0        1 -0.004952    0.004419      0.000404      0.005356
1            1        1 -0.000536    0.001380      0.000718      0.001254
2            2        1  0.000377    0.000965      0.000669      0.000292
3            3        1  0.000567    0.000584      0.000590      0.000022
4            4        1  0.000042    0.000638      0.000402      0.000360
5            5        1  0.000343    0.000457      0.000495      0.000152
6            6        1  0.000265    0.000418      0.000359      0.000093
7            7        1 -0.000140    0.000258      0.000076      0.000216
8            8        1  0.000134    0.000228      0.000260      0.000126
9            9        1 -0.000243    0.000255      0.000052      0.000296
10          10        1 -0.000079    0.000248      0.000023      0.000102
11          11        1 -0.000057    0.000383      0.000107      0.000164
12          12        1  0.000204    0.000378      0.000420      0.000216
13          13        1  0.000442    0.000279      0.000478      0.000036
14          14        1  0.000905    0.001456      0.001008      0.000103
15          15        1 -0.000612    0.004510      0.000483      0.001095
16          16        1  0.000616    0.001558      0.000812      0.000196
17          17        1 -0.000870    0.000993      0.000102      0.000972
18          18        1 -0.000111    0.002228      0.000300      0.000411
19          19        1 -0.000260    0.001979      0.000351      0.000610